<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Products</h5>
          <p class="card-text">View and manage product details.</p>
          <a routerLink="/products" class="btn btn-success">Manage</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Suppliers</h5>
          <p class="card-text">View suppliers details.</p>
          <a routerLink="/products" class="btn btn-success">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Orders</h5>
          <p class="card-text">View and manage customer orders.</p>
          <a routerLink="/orders" class="btn btn-success">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
