<footer id="contact" class="footer mt-5 bg-dark text-white" style="padding-top: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Contact Us</h4>
        <p>Email: info&#64;inventorymanagement.com</p>
        <p>Phone: +1 (123) 456-7890</p>
        <p>Address: 1234 Inventory St, Inventoryville, IV 56789</p>
      </div>
      <div class="col-md-4">
        <h4>Quick Links</h4>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Follow Us</h4>
        <div class="social-icons text-center ">
          <a href="#" class="text-white mx-1">
            <img src="/Facebook.svg" width="50px" height="50px">
          </a>
          <a href="#" class="text-white mr-1">
            <img src="/Twiter.svg" width="50px" height="50px">
          </a>
          <a href="#" class="text-white mx-1">
            <img src="/InstagramJob.svg" width="50px" height="50px">
          </a>
          <a href="#" class="text-white ml-1">
            <img src="/LinkedIn.svg" width="50px" height="50px">
          </a>
        </div>
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2024 InMan. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
